<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="profile-icon-button" routerLink="/">
            <img src='/assets/logo.png' class="profile-icon" alt="Profile Icon" />
            </ion-button>
        </ion-buttons>
  
      <ion-title class="ion-text-center">
        Board App
      </ion-title>
  
        <ion-buttons slot="end">
            <ion-button class="profile-icon-button" routerLink="/my-page">
            <img src='/assets/default-profile.png' class="profile-icon" alt="Profile Icon" />
            </ion-button>
            <ion-menu-button>       </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
