.profile-icon-button {
    font-size: 1.4em;
}
.profile-icon {
    font-size: 1.4em; 
    width: 0.9em;
    height: 0.9em;
}

#footer-text-box {
    width: 100%;
    margin: auto;
}
#footer-text {
    width: 100%;
    font-size: 70%;
}