<ion-content>
  <ion-card *ngIf="article" class="card">

    <!-- 게시글 제목 헤더 -->
    <ion-card-header>
      <ion-card-title class="card-title">{{ article.title }}</ion-card-title>
    </ion-card-header>

    <!-- 게시글 정보 서브타이틀 -->
    <ion-card-subtitle class="card-header">
      <ion-item>
        <ion-label>작성자: {{ article.author }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>작성일: {{ article.createdAt | date: 'short' }}</ion-label>
      </ion-item>
    </ion-card-subtitle>

    <!-- 게시글 본문 -->
    <ion-card-content class="card-content">
      <!-- 본문 내용 -->
      <p>{{ article.contents }}</p>
      <!-- 첨부파일 이미지 본문 추가 -->
      <ion-list *ngIf="article.attachments && article.attachments.length > 0">
        <ion-item *ngFor="let attachment of article.attachments">
          <img *ngIf="isImage(attachment.url)" [src]="attachment.url" alt="{{ attachment.filename }}" class="thumbnail-img"/>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-card-content class="attachment-card">
      <!-- 첨부파일이 다운로드 부분 -->
      <ion-list *ngIf="article.attachments && article.attachments.length > 0">
        <h3>첨부파일:</h3>
        <ion-item *ngFor="let attachment of article.attachments">
          <ion-card class="attachment-card">
            <ion-card-header>
              <ion-card-subtitle>{{ attachment.filename }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-thumbnail slot="start">
                <img [src]="attachment.url" alt="{{ attachment.filename }}" class="thumbnail-img"/>
              </ion-thumbnail>
              <ion-label>
                <p>파일 링크가 필요하시면 클릭하세요.</p>
              </ion-label>
              <ion-button slot="end" fill="outline" (click)="downloadFile(attachment.url)">
                <ion-icon slot="start" name="download"></ion-icon>
                첨부파일 받기
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-list>
      <ion-item>
        <ion-button color="tertiary" slot="start" (click)="updateArticle()">수정하기</ion-button>
        <ion-button color="primary" slot="end" (click)="goBack()">돌아가기</ion-button>
        <ion-button color="danger" (click)="confirmDelete()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>