<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to the Board App Page</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is the main page of the application. Not Ready to use yet. 🛠️
    </ion-card-content>
  </ion-card>

  <swiper-container #swiper>
    <swiper-slide><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88488/88488_320.jpg"></swiper-slide>
    <swiper-slide><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88531/88531_320.jpg"></swiper-slide>
    <swiper-slide><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88500/88500_320.jpg"></swiper-slide>
  </swiper-container>
</ion-content>
