#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

swiper-container {
  // 슬라이더의 너비와 높이 설정
  width: 100%;
  height: 150px; // 원하는 높이로 변경 가능

  // 슬라이드 내 이미지 스타일
  swiper-slide {
    display: flex; // Flexbox 사용
    justify-content: center; // 수평 중앙 정렬
    align-items: center; // 수직 중앙 정렬

    img {
      width: 100%; // 이미지 너비를 슬라이드에 맞춤
      height: 100%; // 슬라이드 높이에 맞춤
      object-fit: cover; // 비율 유지하며 잘림
    }
  }
}